# Python ka chilla with #baba ammar
## student name: khaleel ur rehman
### how to use jupyter notebook
1- my first program

2- my first note book

In [1]:
print(2+3)
print("hellow world")
print("we are learining data science with python with baba ammar in python ka chilla")

5
hellow world
we are learining data science with python with baba ammar in python ka chilla

###  chapter 2 - operators

In [2]:
print(2+3)
print(3-1)
print(9/3)
print(3*2)
print(9//3)
print(2**3)

5
2
3.0
6
3
8

#### PEMDAS is the order of operators (perenthises, exponents, multiplication, division , addition and then substraction)

###  Chpter 3 - Strings

In [3]:
print("test for double qoute")
print('test for single qoute')
print('''test for triple qoute''')

test for double qoute
test for single qoute
test for triple qoute

### chapter 4 - Comments
**comments in python are statements which will not execute, written for the awreness of code**

** shortcut for comments is ctrl + / **

In [4]:
print("kheleel ur rehman")  # this is my name in print function

kheleel ur rehman

## chapter no 5 - Variables 
#### variables are objects containing specific values

### rules for declaring variables in python
#### in python variable should have letter, numbers and underscore(_)
#### rule 2 variable should not start with number
#### rule 3 variable should not use spaces
#### rule 4 variable should not use keyword (list of keywords availble at google.com)
#### python is casesensitive
#### varaible should  be short and descriptive

In [5]:
# example of variable
fruit_basket = "mangoes", "oranges"
print(fruit_basket)
number_of_fruits = 9
number_of_fruits = 15
print(number_of_fruits)

print(type(number_of_fruits))
print(type(fruit_basket))

# del fruit_basket
# print(fruit_basket)

('mangoes', 'oranges')
15
<class 'int'>
<class 'tuple'>

## cahpter no 6 - Input variables

In [6]:
# print(input("enter your fruit"))

name = input("what is your name: ")
# fruit_basket = input("what is your favourite fruit:  ")
# print(f"your favourite fruit is {fruit_basket}")  # this is called f-string
greetings = "hellow!"
print(greetings, name, "kya bat ha g ")

what is your name: khalil
hellow! khalil kya bat ha g

## chapter no 7 - conditonal logical operators

#### Logical operators are either "yes" or "no" , "true" or "false" and "1" or "0"
#### equal to ==
#### less than <
#### greater than >
####  less than equal to <=
####  greater than equal to >=
####  not equal to !=

#### is 4 equal to 4
#### print(4!=4)
#### print(3<6)
#### print(3<=6)
#### print(5>=4)

#### application of logical operators 
#### in if else condition or simply in conditional statements we use logical operators

In [7]:

hammad_age = 7 
school_age = 18
print(hammad_age==school_age)

False

## cahpter no 8 - Type conversion

In [8]:
# implicit type conversion
# x = x+y 

# explicit type conversion 
age = input("enter your age")
print(age, type(int(age)))

enter your age7
7 <class 'int'>

## chapter no 9 - if else statments

In [9]:
# required age for school is 5
# hammad age = 4
# question is can hammad go to school
school_age = 4
hammad_age = 4
if hammad_age == school_age:
    print("hammad can join the school")

hammad can join the school

## chapter no 10 - Functions

In [10]:
# functions
# defining a function
# def print_codanics():
#     print("we are learning with ammar")
#     print("we are learning with ammar")
#     print("we are learning with ammar")

# print_codanics()


# def print_codanics():
#     text = " we are learning with ammar at youtube channel"
#     print(text)
#     print(text)
# print_codanics()

# def print_codanics(text):
#     print(text)
#     print(text)
#     print(text)

# print_codanics("khalil ny char shadia krni ha inshaAllah, 3 dafa likh lo meri ye bat")

# hammad_age = input("enter hmmad age: ")
# required_age = input("enter required age for school: ")
# # defining a function with if else and elif statement

# def school_calculator():
#     if hammad_age == required_age:
#         print("hmmad can go to school")
#     elif hammad_age > required_age:
#         print("hammad can go to higher school")
#     else:
#         print("hammad is still baby")
# school_calculator()

# defining a function of future

def future_age(age):
    new_age = age + 20
    # print(new_age)   its working no tention
    return new_age

print_var = future_age(20)   # another method
print(print_var)

40

## chapter no 11 - loops in python

In [11]:
# x = 0
# while x<=5:
#     print(x)
#     x = x+1

#  for loop
# for x in range(5,10):
#     print(x)

days = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]
for d in days:
    # print(d) 
    # if (d=="fri"):break
    if (d == "fri"): continue
    print(d)

mon
tue
wed
thu
sat
sun

## chapter no 12- import libraries

In [12]:
# x = 0
# while x<=5:
#     print(x)
#     x = x+1

#  for loop
# for x in range(5,10):
#     print(x)

days = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]
for d in days:
    # print(d) 
    # if (d=="fri"):break
    if (d == "fri"): continue
    print(d)

mon
tue
wed
thu
sat
sun

## chapter no 13 - trouble shoot

In [13]:
# print(we are learining python with ammar) this is syntax error

# print(25/0)  # run time error , or zero division error 

name = "ammar"  
print("hello name")  # symantic error , its mean this is error by ourself not from python

hello name