## This is how can we download data in csv file

In [6]:
# import seaborn first
import seaborn as sns

In [2]:
# load data from seaborn library
phool = sns.load_dataset('iris')
phool

In [4]:
# now import pandas for csv file
import pandas as pd

In [5]:
# thats it , we got csv file
phool.to_csv('iris.csv')

In [7]:
df= pd.read_csv("iris.csv")
df

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,virginica
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

In [8]:
import numpy as np

In [9]:
df.median()

C:\Users\khali\AppData\Local\Temp\ipykernel_1204\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Unnamed: 0      74.50
sepal_length     5.80
sepal_width      3.00
petal_length     4.35
petal_width      1.30
dtype: float64

In [10]:
df.mode()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,0,5.0,3.0,1.4,0.2,setosa
1,1,NaN,NaN,1.5,NaN,versicolor
2,2,NaN,NaN,NaN,NaN,virginica
3,3,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
145,145,NaN,NaN,NaN,NaN,NaN
146,146,NaN,NaN,NaN,NaN,NaN
147,147,NaN,NaN,NaN,NaN,NaN
148,148,NaN,NaN,NaN,NaN,NaN
149,149,NaN,NaN,NaN,NaN,NaN